@media(max-width:1523px){
   .reason__line-first{
      bottom: -35px;
   }
   .reason {
      margin-bottom: 0px;
   }
   .about__bg {
      height: 750px;
      padding: 250px 20px 0px;
   }
   .about__girl {
      width: 400px;
      position: absolute;
      left: 37%;
      bottom: 30px;
    }
    .about__show-1 {
      width: 80px;
      position: absolute;
      left: 32%;
    }
    .about__show-2{
      width: 84px;
      position: absolute;
      right: 32%;
    }
    .about__show-3{
      width: 115px;
      position: absolute;
      left: 30%;
    }
    .about__show-4 {
      width: 115px;
      position: absolute;
      right: 30%;
    }
}
@media(max-width:1340px){
   .header .header__menu{
      left: -33%;
      width: 33%;
   }
   .header__body {
      margin-top: 18px;
   }
   .header .header__list{
      margin-top: 40px;
   }
   .header .header__list li {
      margin-bottom: 5px;
      font-weight: 500;
   }
   .header__fogbottom {
      bottom: -2px;
   }
   .header__pic {
      top: 14px;
   }
   .logo {
      width: 80px;
      margin: 0 auto;
    }
   .h1 {
      font-size: 30px;
      line-height: 35px;
      max-width: 550px;
   }
   .h2,.h3 {
      font-size: 20px;
      line-height: 28px;
   }
   .h2 b {
      font-size: 25px;
    }
   .info {
      height: 530px;
      padding-top: 100px;
    }
    .info__doctor {
      bottom: 30px;
      width: 350px;
    }
    .info__people {
      bottom: 80px;
      width: 280px;
    }
    .info__button {
      margin-top: 35px;
    }
    .info__button a {
      padding: 15px 60px;
      font-size: 18px;
      border-radius: 40px;
      box-shadow: 1px 1px 10px black;
    }
    .options__items {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, auto));
      gap: 20px;
      margin-top: 30px;
    }
    .options__item {
      display: flex;
      padding: 20px 0px;
    }
    .options__text {
      max-width: 230px;
      margin: 0 auto;
      margin-top: 15px;
      text-align: center;
    }
    .options__pic {
      width: 100px;
    }
    .reason__item {
      width: 270px;
      height: 310px;
      margin: 0 auto;
    }
    .reason__pic {
      width: 120px;
    }
    .about__fogbottom {
      position: absolute;
      bottom: -2px;
    }
    .product {
      padding: 30px 0px 80px;
    }
    .product__items {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 330px));
      gap: 5px;
    }
    .company__items {
      display: grid;
      grid-template-columns: 60% 40%;
      padding: 0px 10px;
    }
    .company__item {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 15px;
    }
    .company__image {
      position: relative;
      padding: 0px 0px 90% 0px;
    }
    .video{
      padding-bottom: 100px;
    }
    .video__fog {
      position: absolute;
      bottom: -2px;
      left: -300px;
    }
}
@media(max-width:1150px){
   .header .header__menu{
      left: -43%;
      width: 43%;
   }
   .header .header__list{
      margin-top: 60px;
   }
   .header .header__link{
      font-size: 16px;
      line-height: 23px;
   }
   .h1 {
      font-size: 25px;
      line-height: 30px;
      max-width: 450px;
   }

   .info {
      height: 500px;
      padding-top: 100px;
    }
    .info__doctor {
      bottom: 10px;
      width: 320px;
    }
    .info__people {
      bottom: 30px;
      width: 240px;
    }
    .info__button {
      margin-top: 25px;
    }
    .info__button a {
      padding: 14px 50px;
      font-size: 16px;
    }
    .options {
      padding-bottom: 40px;
    }
    .options__items {
      margin-top: 15px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(260px, auto));
      gap: 10px;
    }
    .options__item {
      display: flex;
      padding: 10px 0px;
    }
   .novinki {
      background-image: url(../img/dragon-adaptation.jpg);
      background-size: cover;
    }
   .novinki__line {
      position: absolute;
      left: 50.4%;
      bottom: 30%;
    }
   .reason__line-first {
      display: none;
    }
   .reason__item {
      width: 270px;
      height: 300px;
      margin: 0 auto;
      padding: 0px 10px;
    }
   .reason__top {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
   }
   .reason__pic {
      width: 100px;
    }
    .reason__text {
      margin-top: 10px;
      margin-bottom: 20px;
    }
    .reason__bottom {
      gap: 10px;
    }
    .about__bg {
      height: 600px;
      padding: 200px 20px 0px;
   }
   .about__girl {
      width: 300px;
      position: absolute;
      left: 37%;
      bottom: 90px;
    }
    .about__show-1 {
      width: 50px;
      position: absolute;
      left: 32%;
    }
    .about__show-2{
      width: 54px;
      position: absolute;
      right: 32%;
    }
    .about__show-3{
      width: 85px;
      position: absolute;
      left: 30%;
    }
    .about__show-4 {
      width: 85px;
      position: absolute;
      right: 30%;
    }
    .about__item {
      max-width: 350px;
      padding: 20px 10px;
    }
    .about__down {
      margin-top: 20px;
    }
    .product__items {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 15px;
      padding: 0px 20px;
    }
    .company {
      padding: 40px 0px 40px;
    }
    .company__items {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .company__pic {
      margin-top: 20px;
    }
    .company__item:first-child{order: 2;}
    .company__item:last-child{order: 1;}
    .company__image {
      position: relative;
      padding: 0px 0px 30% 0px;
    }
    .video{
      padding-bottom: 40px;
    }
    .video video {
      width: 500px;
      margin-top: 20px;
    }
    .questions__line {
      display: none;
    }
    .block {
      margin: 20px 0px 0px;
      position: relative;
      z-index: 1;
    }
    .block__items {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .block__item,.block__button {
      text-align: center;
    }
    .slide__item {
      height: 480px;
    }
    .comment__text{
      max-width: 550px;
      margin: 0 auto;
    }
    .job {
      background: whitesmoke;
      padding: 40px 10px 30px;
    }
    .job__button a {
      color: white;
      background: #345c8f;
      padding: 14px 40px;
      font-size: 16px;
      font-weight: 500;
      border-radius: 30px;
      transition-duration: 0.5s;
    }
    .job__number {
      position: relative;
      z-index: 2;
      font-size: 60px;
      font-weight: 500;
    }
    .job__item {
      width: 280px;
    }
    .job__items {
      max-width: 800px;
      margin: 0 auto;
      margin-top: 20px;
    }
}
@media(max-width:850px){
   .h1 {
      font-size: 20px;
      line-height: 25px;
      max-width: 380px;
   }
   .header .header__menu{
      left: -60%;
      width: 60%;
   }
   .header__body{
      margin-top: 10px;
   }
   .header .header__burger{
      width: 30px;
      height: 20px;
   }
   .header__pic {
      width: 50px;
      position: absolute;
      right: 0;
      top: 8px;
   }
   .logo {
      width: 60px;
   }
   .info {
      height: 450px;
      padding-top: 100px;
    }
    .info__doctor {
      bottom: 10px;
      width: 260px;
    }
    .info__people {
      bottom: 0px;
      width: 240px;
      right: -15px;
    }
    .info__button {
      margin-top: 20px;
    }
    .info__button a {
      padding: 12px 50px;
      font-size: 16px;
    }
    .options__pic {
      width: 80px;
    }
    .reason__item {
      width: 250px;
      height: 270px;
      margin: 0 auto;
      padding: 0px 10px;
    }
    .reason__top {
      gap: 20px;
    }
    .reason__bottom{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      margin-top: 20px;
    }
    .reason__pic{
      width: 100px;
    }
    .reason__text{
      margin-top: 25px;
    }
    .about__items{
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 10px;
    }
    .about__down{
      margin-top: 10px;
    }
    .about__item {
      max-width: 600px;
      margin: 0 auto;
    }
    .about__bg {
      height: fit-content;
      padding: 80px 20px 80px;
    }
    .about__girl {
      width: 300px;
      position: absolute;
      left: 30%;
      bottom: 0px;
    }
    .about__show-1,.about__show-2,.about__show-3,.about__show-4 {
      display: none;
    }
    .video {
      background-image: url(../img/sf.webp);
      background-size: cover;
      position: relative;
      padding-bottom: 20px;
    }
    .video__text {
      font-size: 18px;
      line-height: 25px;
    }
    .video__item:first-child {
      background-color: rgba(0, 0, 0, 0.6);
      padding: 30px 10px;
    }
    .video video {
      width: 400px;
      border-radius: 10px;
      margin-top: 15px;
    }
    .video__fog-image {
      position: relative;
      padding: 0px 0px -10% 0px;
    }
    .block__item {
      font-size: 18px;
      line-height: 25px;
    }
    .slide__item {
      height: fit-content;
    }
    .comment {
      padding-top: 30px;
      text-align: center;
    }
    .job__item_line{
      display: none;
    }
    .novinki__bg {
      padding:3px 0px 60px;
    }
    .slider__items {
      margin: 20px 0px;
    }
    .slider__title p {
      color: white;
      font-size: 18px;
      font-weight: 600;
    }
    .slider__name {
      padding: 15px 10px;
    }
    .slider__button a {
      padding: 14px 60px;
    }
}
@media(max-width:650px){
   .info {
      height: 360px;
      padding-top: 0px;
    }
    .info__doctor {
      bottom: 20px;
      width: 220px;
      left: -10px;
    }
    .info__people {
      bottom: 0px;
      width: 180px;
      right: -20px;
    }
    .info__button {
      margin-top: 20px;
    }
    .info__button a {
      padding: 12px 50px;
      font-size: 16px;
    }
    .info__item {
      background: rgba(0, 0, 0, 0.6);
      padding: 60px 0px 150px;
      position: relative;
      z-index: 2;
    }
    .info__doctor,.info__people{
      position: absolute;
      z-index: 1;
    }
    .reason__item {
      width: 250px;
      height: 270px;
      margin: 0 auto;
      padding: 0px 10px;
    }
    .reason__top {
      gap: 20px;
    }
    .reason__bottom{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      margin-top: 20px;
    }
    .reason__pic{
      width: 100px;
    }
    .reason__text{
      margin-top: 25px;
    }
    .reason__top, .reason__bottom{
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    .reason__bottom{
      margin-top: 30px;
    }
    .novinki {
      background-image: url(../img/dragon-mob.jpg);
      background-size: cover;
    }
    .novinki__items {
      display: flex;
      flex-direction: column;
    }
    .novinki__item:last-child{
      margin-top: 50px;
    }
    .novinki__line {
      display: none;
    }
    .video video {
      width: 300px;
      border-radius: 10px;
      margin-top: 15px;
    }
    .video__text {
      font-size: 16px;
      line-height: 23px;
    }
    .video__item:first-child {
      padding: 20px 5px;
    }
    .questions__items{
      margin-top: 35px;
    }
    .question p {
      font-size: 16px;
      font-weight: 600;
    }
    .question {
      padding: 10px 15px;
    }
    .question span{
      position: absolute;
      top: 4px;
    }
    .block{
      margin-top: 0px;
      margin-bottom: 20px;
    }
    .block__items{
      padding-bottom: 5px;
    }
    .block__item{
      font-size: 16px;
      line-height: 23px;
    }
    .block__pic {
      display: none;
    }
    .team{
      padding: 30px 10px 0px;
    }
    .footer__list{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
   }
}
@media(max-width:570px){
   .job__items {
      display: flex;
      flex-direction: column;
   }
}
@media(max-width:450px){
  p{
    font-size: 14px;
    line-height: 18px;
  }
   .header .header__menu{
      left: -70%;
      width: 70%;
   }
   .header .header__list li {
    margin-bottom: 5px;
  }
   .header .header__link {
    font-size: 14px;
    line-height: 18px;
   }
   .h1 {
      font-size: 18px;
      line-height: 23px;
      max-width: 340px;
      padding: 0px 5px;
   }
   .info {
      height: 350px;
      padding-top: 0px;
    }
    .info__item {
      background: rgba(0, 0, 0, 0.6);
      padding: 60px 0px 130px;
    }
    .info__doctor {
      bottom: 10px;
      width: 200px;
      left: -10px;
    }
    .info__people {
      bottom: 0px;
      width: 160px;
      right: -20px;
    }
    .info__button {
      margin-top: 20px;
    }
    .info__button a{
      font-size: 14px;
      padding: 14px 40px;
    }
    .about__girl {
      width: 280px;
      left: 10%;
    }
    .about__text,.product__text{
      font-size: 16px;
      line-height: 20px;
      
    }
    p{
      line-height: 20px;
    }
    .product {
      padding-bottom: 30px;
    }
    .product__items{
      padding: 0px;
    }
    .product__button a{
      padding: 10px 60px;
      font-size: 16px;
    }
    .company__item p{
      text-align: left;
    }
    .company__image {
      position: relative;
      padding: 0px 0px 60% 0px;
    }
    .video__text {
      font-size: 14px;
      line-height: 18px;
    }
    .video video {
      width: 250px;
    }
    .content{
      font-size: 16px;
      line-height: 20px;
    }
    .sliderteam {
      padding-top: 30px;
    }
    .slide__text{
      padding: 20px 5px 20px;
    }
    .comment__name{
      font-size: 16px;
    }
    .footer__companys{
      font-size: 14px;
    }
    .footer__whatsapp{
      font-size: 16px;
      line-height: 23px;
    }
    .content {
      font-size: 14px;
      line-height: 18px;
    }
    .block__items{
      padding: 0px 10px;
    }
    .block__button a {
      padding: 14px 20px;
      font-size: 14x;
    }
    .job__button a{
      font-size: 14px;
      padding: 14px 40px;
    }
    .slider__button a{
      font-size: 14px;
      padding: 14px 60px;
    }
    .product__button a {
      font-size: 14px;
      padding: 14px 60px;
    }
}